/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, button, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #DDD0C8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.columnlabel{
  border: 1px solid #ddd; 
  padding: 10px; 
}

.horizontal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  white-space: nowrap;
  gap: 5px;
}

.large-header {
  flex: 13;
  display: flex;
  flex-direction: row; 
  font-weight: bold;
}

.medium-header {
  flex: 8;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.small-header {
  flex: 3;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.xsmall-header {
  flex: 2;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.xxsmall-header {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.large-element {
  flex: 13;
  display: flex;
  flex-direction: row; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.medium-element {
  flex: 8;
  display: flex;
  flex-direction: row; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.small-element {
  flex: 3;
  display: flex;
  flex-direction: row; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.xsmall-element {
  flex: 2;
  display: flex;
  flex-direction: row; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.xxsmall-element {
  flex: 1;
  display: flex;
  flex-direction: row; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 47px;
  width: 150px;
}

button:hover {
  background-color: #c9c8c8;
}

.button {
  border: none;
  color: #ffffff;
  background-color: #323232;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 47px;
  width: 150px;
  border-radius: 25px;
}

.button:hover {
  background-color: #6b6b6b;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 25px;
}

.link {
  color: #2153aa;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.details-head {
  margin-bottom: 2% !important;
}
.details-page {
  position: relative;
  margin-top: 3%;
}

.details-data {
  display: flex;
  flex-direction: column; 
  justify-self: center;
}

.details-data table {
  margin: 25px 50px;
  table-layout: fixed;
  border-spacing: 30px;
  border: 1px solid black;
}


.details-data td, th {
  height: 50px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  border: 1px solid black;
}

.details-data td {
  background-color: white;
}

.details-data th {
  background-color: lightgrey;
  width: 200px;
}

.long-data {
  height:200px !important; 
  
}

.edit-btn-div {
  position: absolute;
  display: inline-flex;
  right: 50;
  left: 50%;
  transform: translateX(-50%);
}

.details-back-btn {
  margin-left: 50px;
}

.audit-btn {
  margin-left: 30px;
}

.page-header {
  text-align: center;
  margin-bottom: 8%;
}

.login-page {
  display: flex;
  flex-direction: column !important;
}

.login-elements {
  background-color: white;
  padding: 4% !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.3); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

.login-btn {
  margin: 10px;
  background-color: #323232;
  font-size: 16px;
  height: 47px;
  width: 150px;
  border-radius: 25px;
}

table, th, tr, td, tbody{
  
  border: 1px solid black;
  color: black;
}